  html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #A683E3;
    text-align: center;
  }
  
  .item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    display: flex;
    justify-content: space-between;
    margin: 5px;
  }
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
    margin-left: 20px;
  }
  
  button {
    cursor: pointer;
    border-color: transparent;
    background-color: #A683E3;
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 25px;
    padding: 6px;
    border-width: 0;
    border-radius:3px;
    margin: 5px;
  }
  button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #A683E3;
  }
  
  input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 313px;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }

  .my-button {
    display: inline-block;  
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 12px 12px;
    border: 0;
    color: #fff;
    background: #A683E3;
    line-height: 1.15;
    text-decoration: none;
    margin: 2px;
    
  }
  
  .my-button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px #A683E3;
  }

