<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Todo App</title>
</head>
<body>
    <div class="box" id="heading">
        <h1>Todo List</h1>
    </div>
    <div class="box">
        <form action="/add" method="post" class="item">
            <input type="text" name="content" autocomplete="off" required>
            <button type="submit">Add</button>
        </form>
            {% for todo in todos %}
            <div class="item">
                {{ todo.content }}
                <div>
                    <a href="{{ url_for('update', id=todo.id) }}" class="my-button">Update</a>
                    <a href="{{ url_for('delete', id=todo.id) }}" class="my-button">Delete</a>
                </div>
            </div>
            {% endfor %}
    </div>
</body>
</html>
